











.sets-block {
  margin-top: 1.5em
}

.submarine-set:hover {
  background-color: #311919;
  cursor: pointer
}

.submarine-cname {
  color: #8a8a8a;
  font-size: 12px
}

.sets-nav {
  margin-top: 1em
}



.set-editor-block,.set-finder-block {
  background: #000;
  color: #fff
}

.set-editor-block {
  width: 42em
}

.set-editor-block>*+* {
  margin-top: 1em!important
}

.set-name input {
  margin-left: 1em
}



.set-finder-block {
  width: 50em
}

.finder-option table {
  border-collapse: separate;
  border-spacing: 0 5px
}

.finder-option th {
  width: 6em
}

.finder-option input {
  width: 3em
}

.set-code>span {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  width: 2.5em;
  color: #efefef;
  text-align: center
}

.set-code>span+span {
  border-left: 1px solid #7b7b7b
}

.add-set {
  color: #77d1ff
}

